* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
body{
  background-color: #F5F5F5;
}
header {
  overflow: hidden;
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}
/*--------- Navigation menu block START---------- */
.navigation-bg {
  background-color: #000;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.nav-item {
  position: relative;
  margin-right: 50px;
}
.nav li:last-of-type {
  margin-right: 0px;
}
.nav-item-link {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}
.nav-item :hover:before {
  position: absolute;
  left: -5px;
  content: "[";
  animation: navhover1 0.3s ease-out forwards;
}
.nav-item :hover:after{
  position: absolute;
  right: -5px;
  content: "]";
  animation: navhover2 0.3s ease-out forwards;
}
@keyframes navhover1{
  from{
    left: 50%;
  }
  to {
    left:-5px;
  }
}
@keyframes navhover2{
  from{
    right: 50%;
  }
  to {
    right:-5px;
  }
}
/*--------- Navigation menu block END---------- */

/* Slider (work not correctly */
/* .container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .slide1{
    background: url("/img/left.png");
    background-attachment:  fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.container .slide2{
    background: url("/img/right.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
} */
.main-img-bg{
  background-color: #fff;
}
.main-img{
  position: relative;
}
.container {
  text-align: center;
}
.container img{
  width: 100%;
}
.main-social{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
  right: 0px;
}
.main-social img{
  margin-bottom: 35px;
}

/*--------- Intro block START---------- */
.intro {
  margin-top: 50px;
}
.title-lines {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.title h2 {
  padding-left: 45px;
  padding-right: 45px;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
}
.title1 {
  width: 360px;
}
.line {
  width: 100%;
}
.intro-text {
  margin-bottom: 40px;
}
.intro-text {
  display: flex;
  justify-content: center;
}
.intro .intro-text p {
  max-width: 780px;
  font-weight: normal;
  font-size: 18px;
}
.button-page{
  text-align: center;
}
.button-page button{
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 35px;
  border: 1px solid #000;
  background-color: #F5F5F5;
}
.button-page button:hover{
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}
.button-page button:first-child {
  margin-right: 40px;
}
.button-page button img {
  margin-right: 15px;
}

/*--------- Intro block END---------- */

/*--------- Skills block START---------- */
.skills {
  margin-top: 90px;
}
.title2 {
  width: 300px;
}
.skills-cards {
  display: flex;
  justify-content: space-between;
}
.skill-card {
  display: flex;
  flex-direction: column;
  width: 211px;
  min-width: 165px;
  height: 226px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25),
    -2px -2px 10px rgba(0, 0, 0, 0.25);
}
.skills-cards :last-child{
  margin-right: 0px;
}
.skill-card img {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.skill-card p {
  display: flex;
  justify-content: center;
  margin-top: 59px;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 21px;
  padding-right: 21px;
  text-align: center;
}

/*--------- Skills block END---------- */

/*--------- Latest Works block START---------- */
.latest-works {
  margin-top: 90px;
}
.title3 {
  width: 260px;
}
.work-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.work-card{
  margin-right: 20px;
}
.work-cards :last-child{
  margin-right: 0px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 374px;
  height: 17px;
  background-color: #4d6172;
  border-radius: 5px 5px 0px 0px;
}
.elipses {
  display: flex;
  margin-left: 12px;
}
.elipse {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: #c4c4c4;
  margin-right: 4px;
}
.toggle-card {
  margin-right: 12px;
}
.toggle-card hr {
  width: 10.8px;
  height: 1.5px;
  margin-bottom: 1px;
}
.work-card .card-body img{
  width: 100%;
}

/*--------- Latest Works block END---------- */

/*--------- Latest blog articles block START---------- */

.latest-blog-articles {
  margin-top: 90px;
}
.title4 {
  width: 350px;
}
.articles-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.article-card {
  position: relative;
  max-width: 374px;
  border: 0.5px solid #4d6172;
  border-radius: 5px;
  margin-right: 20px;
}
.articles-cards :last-child{
  margin-right: 0px;
}
.article-card .article-img img{
  width: 100%;
}
.article-date {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-top: -40px;
  max-width: 71px;
  height: 71px;
  -moz-transform: rotate(45deg); /* Для Firefox */
  -ms-transform: rotate(45deg); /* Для IE */
  -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg); /* Для Opera */
  transform: rotate(45deg);
  background-color: #4d6172;
}
.date-text {
  padding-top: 12px;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -moz-transform: rotate(-45deg); /* Для Firefox */
  -ms-transform: rotate(-45deg); /* Для IE */
  -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-45deg); /* Для Opera */
  transform: rotate(-45deg);
}
.atricle-text {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 28px;
  text-transform: uppercase;
}
.atricle-text h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 25px;
}
.atricle-text p {
  margin-top: 25px;
  margin-bottom: 65px;
  font-size: 14px;
  font-weight: normal;
  color: #4d6172;
}
.atricle-text hr {
  max-width: 130px;
}
.social-line {
  position: absolute;
  width: 100%;
  bottom: 10px;
  border-top: 0.5px solid #4d6172;
}
.article-social {
  display: flex;
  margin-left: 45px;
  padding-top: 10px;
}
.article-share {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #4d6172;
}

/*--------- Latest blog articles block END---------- */

/*--------- Ways to contact me block START---------- */

.contact-me {
  margin-top: 90px;
}
.title-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-me .title-contact h2 {
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
.contact-me .title-contact hr {
  margin-top: 22px;
  width: 178px;
  margin-left: auto;
  margin-right: auto;
}
.contact-me .title-contact p {
  max-width: 568px;
  font-weight: normal;
  font-size: 18px;
  margin-top: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact-window {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contact-me .contact-form {
  display: flex;
  flex-direction: column;
  width: 528px;
}
.contact-me .contact-form input {
  display: inline-block;
  max-width: 528px;
  height: 50px;
  padding-left: 51px;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}
.contact-me .contact-form textarea[type="message"] {
  max-width: 528px;
  margin-bottom: 0px;
  padding-left: 51px;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  padding-top: 14px;
}
.contact-info {
  margin-left: 52px;
}
.contact-info p {
  font-weight: normal;
  font-size: 18px;
  margin-top: 21px;
}
.contact-info p:first-child {
  margin-top: 0;
}
.contact-info .contact-social p {
  margin-top: 23px;
  text-transform: uppercase;
}

/* Footer block START */

.footer {
  height: 466px;
  background-color: #000;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-footer {
  margin-bottom: 22px;
}
.footer p {
  margin-top: 21px;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.footer-social{
  margin-top: 21px;
  display: flex;
  align-items: flex-start;
}
.footer-social img{
  margin-right: 30px;
}
.footer-social img:last-child{
  margin-right: 0px;
}
/* Footer block END */

/*--------- Ways to contact me block END---------- */


@media (max-width: 1180px) {
  .navigation,
  .main-img,
  .intro,
  .skills,
  .latest-works,
  .latest-blog-articles,
  .contact-me{
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 1000px) {
  .button-page{
    text-align: center;
  }
  .skills-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .skill-card{
    margin-bottom: 20px;
  }
  .skills-cards :last-child{
    margin-right: 20px;
  }
  .contact-info {
    margin-left: 20px;
  }
}

@media (max-width: 750px){
  #main-navbar{
    display: none;
  }
}

@media (max-width: 585px){
  .title h2 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .title1 {
    width: 310px;
  }
  .title2 {
    width: 250px;
  }
  .title3 {
    width: 210px;
  }
  .title4 {
    width: 300px;
  }
  .button-page button:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .skills-cards {
    display: grid;
    grid-template-columns: auto;
  }
  .skill-card{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .skills-cards :last-child{
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .latest-blog-articles{
    margin-left: 0px;
    margin-right: 0px;
  }
  .contact-window {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contact-me .contact-form {
    display: flex;
    flex-direction: column;
    width: unset;
  }
  .contact-me .contact-info{
    margin-top: 21px;
  }
  .nav-item {
    position: relative;
    margin-right: 10px;
  }
} 

/* -------------Page About Me START ----------*/

/* -------------Page About Me END ----------*/

